<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431102349591-p8j7ibsodk5ejisjn9ca05epudoh9des.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431102349591-p8j7ibsodk5ejisjn9ca05epudoh9des</string>
	<key>API_KEY</key>
	<string>AIzaSyBFt3_4jVa0597Cg4wwyX0J5oDrpwZFNQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>431102349591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jedicollector</string>
	<key>PROJECT_ID</key>
	<string>jedicollector-1797e</string>
	<key>STORAGE_BUCKET</key>
	<string>jedicollector-1797e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431102349591:ios:11271f4d1e47fdcfc46752</string>
</dict>
</plist>